@import "//at.alicdn.com/t/font_184863_ja6x3m9plpj.css";
.hourGlassLoader {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #4183D7;
  border-top: 20px solid #F5AB35;
  -webkit-animation: hgload 1.2s ease-in-out infinite alternate;
  animation: hgload 1.2s ease-in-out infinite alternate;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@keyframes hgload {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
.themeTemplate .el-radio-button__orig-radio:checked + .el-radio-button__inner {
  box-shadow: none;
  border-left: 1px solid #31364a;
}
.themeTemplate .el-radio-button--mini .el-radio-button__inner {
  padding: 12px 0;
  border-left: 1px solid #dcdfe6;
  margin-right: 6px;
  margin-bottom: 6px;
  width: 100px;
  border-radius: 4px;
}
.login-container {
  background: url('https://uufe-web.oss-cn-beijing.aliyuncs.com/atsweb/artlib/1520301388371.jpg') center center no-repeat;
  background-size: cover;
}
.isCursor .el-upload {
  cursor: inherit;
}
.aia-loading-circle {
  display: block;
  margin: 0 auto;
  background: url("data:image/svg+xml,%3C!-- By Sam Herbert %28@sherb%29, for everyone. More @ http://goo.gl/7AJzbL --%3E%3Csvg width='44' height='44' viewBox='0 0 44 44' xmlns='http://www.w3.org/2000/svg' stroke='%23fff'%3E%3Cg fill='none' fill-rule='evenodd' stroke-width='2'%3E%3Ccircle cx='22' cy='22' r='1'%3E%3Canimate attributeName='r' begin='0s' dur='1.8s' values='1; 20' calcMode='spline' keyTimes='0; 1' keySplines='0.165, 0.84, 0.44, 1' repeatCount='indefinite' /%3E%3Canimate attributeName='stroke-opacity' begin='0s' dur='1.8s' values='1; 0' calcMode='spline' keyTimes='0; 1' keySplines='0.3, 0.61, 0.355, 1' repeatCount='indefinite' /%3E%3C/circle%3E%3Ccircle cx='22' cy='22' r='1'%3E%3Canimate attributeName='r' begin='-0.9s' dur='1.8s' values='1; 20' calcMode='spline' keyTimes='0; 1' keySplines='0.165, 0.84, 0.44, 1' repeatCount='indefinite' /%3E%3Canimate attributeName='stroke-opacity' begin='-0.9s' dur='1.8s' values='1; 0' calcMode='spline' keyTimes='0; 1' keySplines='0.3, 0.61, 0.355, 1' repeatCount='indefinite' /%3E%3C/circle%3E%3C/g%3E%3C/svg%3E") center center no-repeat;
  background-size: contain;
  display: inline-block;
  width: 75px;
  height: 75px;
}
.aia-loading-circle + p.el-loading-text {
  color: #fff;
}
.el-switch__label.is-active {
  color: #909399;
}
.el-switch__label {
  position: absolute;
  font-size: 11px;
  color: #fff;
  z-index: 1;
  transform: scale(0.75);
}
.el-switch__label--left {
  left: 3px;
}
.el-switch__label--right {
  right: 4px;
}
.el-switch__core .el-switch__button {
  z-index: 3;
}
.el-table th {
  background-color: #f6f8f9;
}
/* 主页面样式*/
#aia-main {
  width: 100%;
  height: 100%;
  background: #f5f7fa;
}
#aia-main .el-header {
  background-color: #31364a;
  color: #fff;
  line-height: 60px;
  padding: 0 15px;
}
#aia-main .aia-body {
  position: absolute;
  z-index: 0;
  width: 100%;
  bottom: 0;
  top: 60px;
  overflow: hidden;
}
#aia-main .aia-body .aia-menu {
  width: 100px !important;
}
#aia-main .el-aside {
  /* background-color: #D3DCE6; */
  color: #656565;
  text-align: center;
  height: 100%;
}
#aia-main .el-aside .aia-menu-ul {
  height: 100%;
}
#aia-main .el-main {
  color: #656565;
  background-color: #fff;
  padding: 0;
}
#aia-main body > .el-container {
  margin-bottom: 40px;
}
#aia-main .el-container:nth-child(5) .el-aside,
#aia-main .el-container:nth-child(6) .el-aside {
  line-height: 260px;
}
#aia-main .el-container:nth-child(7) .el-aside {
  line-height: 320px;
}
#aia-main .el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}
#category-list {
  padding: 20px;
}
#category-list .aia-content-card {
  margin-bottom: 30px;
  /* 列表样式 */
}
#category-list .aia-content-card .aia-content-title {
  line-height: 25px;
  font-size: 15px;
  margin: 0 0 10px 0;
}
#category-list .aia-content-card .aia-content-list .aia-content-list-item {
  background-color: #f5f7fa;
  padding: 10px;
  cursor: pointer;
}
#category-list .aia-content-card .aia-content-list .aia-content-list-img {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 10px;
}
#category-list .aia-content-card .aia-content-list .aia-content-list-content h3 {
  font-size: 13px;
  height: 24px;
  line-height: 24px;
  vertical-align: bottom;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
#category-list .aia-content-card .aia-content-list .aia-content-list-content p {
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  vertical-align: top;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#aia-template {
  background-color: #f5f7fa;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
}
#aia-template > h3 {
  margin: 0;
  font-size: 15px;
  padding: 20px;
}
#aia-template .aia-template-content {
  padding: 0 20px;
  position: absolute;
  bottom: 40px;
  overflow: auto;
  top: 100px;
}
#aia-template .aia-template-item {
  position: relative;
  z-index: 1;
  width: 250px;
  height: 330px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background: url('../images/loading.gif') center 140px no-repeat;
}
#aia-template .aia-template-item .aia-template-img {
  height: 230px;
  overflow: hidden;
  text-align: center;
  transition: all .15s linear;
}
#aia-template .aia-template-item .aia-template-img img {
  width: 100%;
}
#aia-template .aia-template-item .aia-template-tag {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 140px;
  height: 80px;
  text-align: center;
  z-index: 4;
}
#aia-template .aia-template-item .aia-template-tag span {
  position: absolute;
  left: -40px;
  width: 100%;
  height: 25px;
  line-height: 25px;
  color: #fff;
  top: 16px;
  padding: 0 20px;
  font-size: 12px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #a3afb7;
  box-sizing: border-box;
  font-weight: 100;
}
#aia-template .aia-template-item:hover {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}
#aia-template .aia-template-item:hover .aia-template-layout {
  opacity: 1;
}
#aia-template .aia-template-item:hover .aia-template-layout ul {
  margin-top: 60px;
}
#aia-template .aia-template-item:hover .aia-template-img {
  height: 188px;
}
#aia-template .aia-template-item:hover img.aia-template-qrcode {
  bottom: 10px;
}
#aia-template .aia-template-item .aia-template-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all .15s linear;
}
#aia-template .aia-template-item .aia-template-layout ul {
  height: 50px;
  margin-top: 30px;
  text-align: center;
  transition: all .15s linear;
  position: relative;
}
#aia-template .aia-template-item .aia-template-layout ul li {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 60px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}
#aia-template .aia-template-item .aia-template-layout ul li .aia-template-layout-icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  line-height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  font-size: 16px;
}
#aia-template .aia-template-item .aia-template-layout ul li .aia-template-layout-txt {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
#aia-template div.aia-template-code {
  position: absolute;
  background-color: #fff;
  height: 288px;
  line-height: 238px;
  width: 100%;
  text-align: center;
  z-index: 1;
  opacity: 0;
  top: 0;
  transition: all .2s linear;
}
#aia-template div.aia-template-code .aia-template-code-detail {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  transform: scale(0.25);
  overflow: hidden;
  transition: all .2s linear .1s;
}
#aia-template img.aia-template-qrcode {
  position: absolute;
  z-index: 7;
  left: 15px;
  vertical-align: middle;
  bottom: -40px;
  cursor: pointer;
  transition: all .15s linear;
}
#aia-template img.aia-template-qrcode:hover + div.aia-template-code {
  opacity: 1;
  z-index: 8;
}
#aia-template img.aia-template-qrcode:hover + div.aia-template-code .aia-template-code-detail {
  transform: scale(1);
}
#aia-template .aia-template-desc {
  position: absolute;
  background-color: red;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: 7;
  height: 143px;
  background-color: #fff;
  padding: 10px 15px;
}
#aia-template .aia-template-desc .aia-template-desc-title {
  height: 90px;
}
#aia-template .aia-template-desc h3 {
  font-weight: normal;
  text-align: center;
  font-size: 15px;
  margin: 0;
  line-height: 70px;
}
#aia-template .aia-template-desc .aia-template-desc-tool {
  position: relative;
}
#aia-template .aia-template-desc .aia-template-desc-tool ul {
  font-size: 12px;
  text-align: right;
}
#aia-template .aia-template-desc .aia-template-desc-tool ul li {
  display: inline-block;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #ccd5db;
  border-radius: 3px;
  text-align: left;
  cursor: pointer;
  transition: all .1s linear;
}
#aia-template .aia-template-desc .aia-template-desc-tool ul li:hover {
  width: 70px;
  color: #fff;
}
#aia-template .aia-template-desc .aia-template-desc-tool ul li i {
  width: 30px;
  text-align: center;
}
#aia-template .aia-template-desc .aia-template-desc-tool ul li.aia-template-desc-tool-add:hover {
  background-color: #f56c6c;
  border-color: #f56c6c;
}
#aia-template .aia-template-desc .aia-template-desc-tool ul li.aia-template-desc-tool-edit:hover {
  background-color: #67c23a;
  border-color: #67c23a;
}
#aia-template .aia-template-desc .aia-template-desc-tool ul li.aia-template-desc-tool-del:hover {
  background-color: #409eff;
  border-color: #409eff;
}
#aia-template .aia-template-pagenation {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
}
#aia-template #previewPhone,
#aia-newactivity #previewPhone,
#aia-template #previewPhone1,
#aia-newactivity #previewPhone1 {
  background-image: url(/assets/images/phone.svg);
  background-size: 100%;
  width: 326px;
  height: 620px;
  overflow: hidden;
  border-radius: 44px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.5);
  border: 1px solid #eee;
}
#aia-template #previewPhone .previewPhone-title,
#aia-newactivity #previewPhone .previewPhone-title,
#aia-template #previewPhone1 .previewPhone-title,
#aia-newactivity #previewPhone1 .previewPhone-title {
  text-align: center;
  color: #fff;
  height: 40px;
  line-height: 40px;
  margin-top: 57px;
  font-size: 15px;
}
#aia-template #previewPhone .previewPhone-content,
#aia-newactivity #previewPhone .previewPhone-content,
#aia-template #previewPhone1 .previewPhone-content,
#aia-newactivity #previewPhone1 .previewPhone-content {
  height: 486px;
  overflow: hidden;
  width: 320px;
  margin: 0 auto;
  position: relative;
  z-index: 4;
}
#aia-activity-list {
  position: relative;
  z-index: 0;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 20px;
}
#aia-activity-list .aia-alist-header .aia-alist-search {
  padding-top: 5px;
}
#aia-activity-list .aia-alist-main {
  position: absolute;
  bottom: 20px;
  top: 100px;
  right: 20px;
  left: 20px;
  overflow: hidden;
  z-index: 1;
}
#aia-activity-list .aia-alist-main.aia-themelist-main {
  right: -18px;
  overflow-y: auto;
}
#aia-activity-list .aia-alist-pagenation {
  background-color: #fff;
  width: 100%;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
#aia-active {
  height: 100%;
  overflow: hidden;
}
#aia-newactivity {
  padding: 20px;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #d0cfd8;
}
#aia-newactivity .serverPort li {
  display: inline-block;
  width: 50px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 1px solid #dcdfe6;
  border-right: none;
  color: #606266;
  font-size: 13px;
  vertical-align: middle;
  cursor: pointer;
}
#aia-newactivity .serverPort li:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#aia-newactivity .serverPort li:last-child {
  border-right: 1px solid #dcdfe6;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
#aia-newactivity .serverPort li.actived {
  color: #fff;
  background-color: #31364a;
  border-color: #31364a;
}
#aia-newactivity .aia-newa-head .el-step__icon {
  z-index: 0;
}
#aia-newactivity .el-steps--simple {
  padding: 8px 8%;
}
#aia-newactivity .aia-newa-foot {
  position: absolute;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  right: 0px;
  bottom: 10px;
  padding: 10px 20px;
  z-index: 0;
}
#aia-newactivity .aia-newa-main {
  overflow-y: auto;
  position: absolute;
  overflow-x: auto;
  left: 0;
  right: 0;
  bottom: 0px;
  padding-bottom: 60px;
  top: 60px;
  z-index: 0;
}
#aia-newactivity .aia-newa-main-body {
  width: 1050px;
  margin: 0 auto;
  padding-right: 130px;
  padding-top: 30px;
}
#aia-newactivity .aia-newa-main-body .aia-main-body-left {
  width: 330px;
  margin-right: 20px;
  position: relative;
  z-index: 0;
}
#aia-newactivity .aia-newa-main-body .aia-newa-main-right {
  position: relative;
  z-index: 0;
  top: 60px;
  min-width: 700px;
}
#aia-newactivity .aia-newa-main-body .aia-newa-main-right .aia-newa-configform {
  font-size: 14px;
  background-color: #f5f7fa;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  border: 1px solid #eee;
  top: 10px;
  z-index: 1;
  min-height: 500px;
}
#aia-newactivity .aia-newa-main-body .aia-newa-main-right .aia-newa-configform .el-collapse-item__wrap,
#aia-newactivity .aia-newa-main-body .aia-newa-main-right .aia-newa-configform .el-collapse-item__header {
  background: transparent;
}
#aia-newactivity .aia-newa-main-body .aia-newa-main-right .aia-newa-configform .el-table,
#aia-newactivity .aia-newa-main-body .aia-newa-main-right .aia-newa-configform .el-table__expanded-cell {
  background: none;
}
#aia-newactivity .aia-newa-main-body .aia-newa-main-right .aia-newa-configform .el-table th,
#aia-newactivity .aia-newa-main-body .aia-newa-main-right .aia-newa-configform .el-table tr {
  background: none;
}
#aia-newactivity .aia-newa-main-body .aia-newa-main-right .aia-newa-configform .el-collapse {
  border-top: none;
}
#aia-newactivity .aia-newa-main-body .aia-newa-main-right .aia-newa-configform .el-tabs--card > .el-tabs__header .el-tabs__nav {
  background: #fff;
  border-bottom: 1px solid #e4e7ed;
}
#aia-newactivity .aia-newa-main-body .aia-newa-main-right .aia-newa-configform .el-tabs--top .el-tabs__item.is-top:nth-child(2),
#aia-newactivity .aia-newa-main-body .aia-newa-main-right .aia-newa-configform .el-tabs--top .el-tabs__item.is-bottom:nth-child(2),
#aia-newactivity .aia-newa-main-body .aia-newa-main-right .aia-newa-configform .el-tabs--bottom .el-tabs__item.is-top:nth-child(2),
#aia-newactivity .aia-newa-main-body .aia-newa-main-right .aia-newa-configform .el-tabs--bottom .el-tabs__item.is-bottom:nth-child(2) {
  padding-left: 0;
}
#aia-newactivity .aia-newa-main-body .aia-newa-main-right .aia-newa-configform .el-tabs--top .el-tabs__item.is-top:last-child,
#aia-newactivity .aia-newa-main-body .aia-newa-main-right .aia-newa-configform .el-tabs--top .el-tabs__item.is-bottom:last-child,
#aia-newactivity .aia-newa-main-body .aia-newa-main-right .aia-newa-configform .el-tabs--bottom .el-tabs__item.is-top:last-child,
#aia-newactivity .aia-newa-main-body .aia-newa-main-right .aia-newa-configform .el-tabs--bottom .el-tabs__item.is-bottom:last-child {
  padding-right: 0;
}
#aia-newactivity .aia-newa-main-body .aia-newa-main-right .aia-newa-configform .el-tabs__item {
  padding: 0 15px 0 0;
  font-size: 13px;
}
#aia-newactivity .aia-newa-main-body .aia-newa-main-right .aia-newa-configform .el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  color: #ff8b03;
}
#aia-newactivity .aia-newa-main-body .aia-newa-main-right .aia-newa-arrow {
  position: absolute;
  z-index: 1;
  top: 65px;
  left: -8px;
  width: 20px;
  height: 20px;
  background-color: #f5f7fa;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  transform: rotate(45deg);
  z-index: 0;
}
#aia-newactivity #phoneContainer {
  background-image: url('../images/phone.svg');
  background-size: 100%;
  width: 326px;
  height: 620px;
  border-radius: 44px;
  box-shadow: 0 1px 40px rgba(0, 0, 0, 0.3);
  border: 1px solid #eee;
}
#aia-newactivity #phoneContainer #phoneBody {
  position: relative;
  z-index: 999;
  left: 0;
  top: 0;
}
#aia-newactivity #phoneContainer #phoneBody .aia-phonetitle {
  text-align: center;
  color: #fff;
  height: 40px;
  line-height: 40px;
  margin-top: 57px;
  font-size: 15px;
}
#aia-newactivity #phoneContainer #phoneBody #phoneContent {
  height: 486px;
  overflow: hidden;
  width: 320px;
  margin: 0 auto;
  position: relative;
  z-index: 4;
}
.musicDialog .audio-panel-tip {
  display: inline-block;
  position: relative;
}
.musicDialog .img-icon-delicon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.audioDialog .el-dialog__body {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 0;
  overflow: hidden;
}
.audioDialog .el-dialog__header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ccd5db;
}
.audio-panel {
  height: 520px;
}
.audio-panel .audio-panel-left {
  width: 160px;
  height: 520px;
  overflow: hidden;
  background-color: #f7f7f7;
  position: relative;
  float: left;
}
.audio-panel .audio-panel-left ul {
  margin-top: -1px;
}
.audio-panel .audio-panel-left li {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border-radius: 0;
  width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background: none;
  cursor: pointer;
}
.audio-panel .audio-panel-left li.audio-panel-acitve {
  background-color: #fff;
  border-bottom: 1px solid #ccd5db;
  border-top: 1px solid #ccd5db;
}
.audio-panel .audio-panel-left .audio-panel-upload {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}
.audio-panel .audio-panel-right {
  float: right;
  height: 500px;
  width: 770px;
  padding: 0 20px;
  position: relative;
}
.audio-panel .audio-panel-right .audio-foot-btn {
  position: absolute;
  right: 20px;
  bottom: 13px;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .audio-panel-classes {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .audio-panel-classes li {
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  padding-right: 15px;
  color: #76838f;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .audio-panel-classes li:hover {
  color: #1593ff;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .audio-panel-classes li.audio-panel-classes-item {
  color: #1593ff;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .audio-panel-classes li:hover ul.audio-panel-item {
  display: block;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .audio-panel-classes li ul.audio-panel-item {
  padding: 0 20px;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  right: 0px;
  left: 0px;
  line-height: 20px;
  margin-top: -17px;
  padding-top: 17px;
  display: none;
  border-bottom: 1px solid #ccc;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .audio-panel-classes li ul.audio-panel-item li {
  padding-bottom: 17px;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .img-panel-rewardList {
  padding: 15px 0;
  height: 345px;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .img-panel-rewardList li {
  position: relative;
  width: 105px;
  height: 105px;
  line-height: 115px;
  margin: 0 15px 15px 0;
  overflow: hidden;
  background-color: #e6ebed;
  cursor: pointer;
  float: left;
  text-align: center;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .img-panel-rewardList li img.img-panel-icon {
  vertical-align: middle;
  width: 90px;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .img-panel-rewardList li span.img-panel-info {
  position: absolute;
  z-index: 2;
  width: 105px;
  height: 20px;
  font-size: 12px;
  transform: rotate(-45deg);
  background: #ff7e7e;
  line-height: 20px;
  color: #fff;
  left: -32px;
  top: 10px;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .img-panel-rewardList li:hover div.img-panel-mask {
  display: block;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .img-panel-rewardList li div.img-panel-mask {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  z-index: 1;
  text-align: center;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .img-panel-rewardList li div.img-panel-mask span {
  display: inline-block;
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-bottom: 10px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  margin-top: 37px;
  background-color: #59c7f9;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .audio-panel-audioList {
  padding: 15px 0;
  height: 345px;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .audio-panel-audioList li {
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  font-size: 12px;
  color: #666;
  cursor: pointer;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .audio-panel-audioList li .audio-panel-audioList-icon {
  float: right;
  padding-left: 10px;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .audio-panel-audioList li .audio-panel-audioList-icon i {
  color: #ccc;
  font-size: 16px;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .audio-panel-audioList li:nth-child(odd) {
  background-color: #f7f7f7;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .audio-panel-audioList li:hover {
  background-color: #1593ff;
  color: #fff;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .audio-panel-audioList li:hover .audio-panel-audioList-icon i {
  color: #fff;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .audio-panel-audioList li.audio-panel-audioList-active {
  background-color: #1593ff;
  color: #fff;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .audio-panel-audioList li.audio-panel-audioList-active .audio-panel-audioList-icon i {
  color: #fff;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .audio-panel-tip {
  color: #76838f;
  font-size: 12px;
  padding: 0 10px;
  margin-bottom: 7px;
}
.audio-panel .audio-panel-right .audio-panel-musiclibrary .audio-panel-toolbar {
  position: relative;
}
.quesItem .quesItem-content .el-input--mini .el-input__inner {
  height: 36px;
}
.rewarditem .el-input-group__append,
.rewarditem .el-input-group__prepend {
  background-color: none;
  border: none;
  padding: 0 7px;
}
#acitivityDetail {
  position: relative;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#acitivityDetail .acitvity-detail-body {
  height: 100%;
  overflow: hidden;
}
#acitivityDetail .acitvity-detail-body .winner-table {
  width: 100%;
  position: absolute;
  top: 45px;
  bottom: 0px;
}
#acitivityDetail .acitvity-detail-body .winner-search {
  position: relative;
}
#acitivityDetail .acitvity-detail-body .winner-search .el-form-item__label {
  font-size: 13px;
}
#acitivityDetail .acitvity-detail-body .winner-search .searchRewardBtn {
  position: absolute;
  right: 10px;
  top: 0px;
}
#acitivityDetail .acitvity-detail-body .el-tabs {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#acitivityDetail .acitvity-detail-body .el-tabs .el-tabs__content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#acitivityDetail .acitvity-detail-body .el-tabs .el-tabs__content > div.el-tab-pane {
  width: 100%;
  height: 100%;
}
#acitivityDetail .acitvity-detail-body .el-tabs .el-tabs__content > div.el-tab-pane .el-table {
  position: absolute;
  top: 0px;
  bottom: 100px;
}
#acitivityDetail .acitvity-detail-body .el-tabs .el-tabs__content > div.el-tab-pane .el-table__body-wrapper {
  width: auto;
  position: absolute;
  bottom: 0px;
  top: 48px;
  left: 0;
  right: -16px;
  overflow: hidden;
  overflow-y: auto;
}
#acitivityDetail .acitvity-detail-body .el-tabs .el-tabs__content .winner-page {
  position: absolute;
  bottom: 60px;
  width: 100%;
  text-align: right;
}
#acitivityDetail .demo-table-expand {
  font-size: 0;
}
#acitivityDetail .demo-table-expand label {
  width: 90px;
  color: #99a9bf;
}
#acitivityDetail .demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}
#aia-power {
  padding: 20px;
}
#aia-power h4 {
  height: 30px;
  line-height: 30px;
}
#aia-power h5 {
  font-size: 14px;
  background-color: #f6f8f9;
  color: #909399;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  margin: 0;
  border-bottom: 1px solid #ebeef5;
}
#aia-power .aia-power-title {
  font-size: 14px;
  margin: 0;
  font-weight: normal;
}
#aia-power .aia-power-role li {
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  padding: 0 10px;
  cursor: pointer;
  border-bottom: 1px solid #ebeef5;
}
#aia-power .aia-power-role li.activeItem,
#aia-power .aia-power-role li:hover {
  color: #ff8b03;
}
#aia-power .aia-power-tree {
  padding-top: 10px;
  font-size: 13px;
}
#aia-power .aia-power-tree .el-tree-node__label {
  font-size: 13px;
}
#aia-power .aia-power-footer {
  position: absolute;
  bottom: 60px;
}
#aia-sence #aia-senceRight .scroll-content {
  height: 100%;
  box-sizing: border-box;
}
#aia-sence #aia-senceRight .scroll-content .el-tabs--border-card {
  height: 100%;
  box-shadow: none;
  box-sizing: border-box;
}
#aia-sence .el-form-item__label {
  font-size: 12px;
}
#aia-sence .el-input-number--small {
  width: 50px;
}
#aia-sence .el-slider__runway {
  margin: 11px 0;
}
#aia-sence .el-slider__input {
  margin-top: 0;
}
#aia-sence .el-input--small .el-input__inner {
  height: 28px;
}
#aia-sence .el-slider__runway.show-input {
  margin-right: 60px;
}
#aia-sence .el-slider__button {
  width: 10px;
  height: 10px;
}
#aia-sence .el-tabs--border-card > .el-tabs__content {
  padding: 0;
}
#aia-activity-list .aia-alist-main .aia-alist-item {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  z-index: 1;
  width: 180px;
  height: 240px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background: url('../images/loading.gif') center 90px no-repeat;
}
#aia-activity-list .aia-alist-main .aia-alist-item:hover {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}
#aia-activity-list .aia-alist-main .aia-alist-item:hover .aia-alist-layout {
  opacity: 1;
}
#aia-activity-list .aia-alist-main .aia-alist-item:hover .aia-alist-img {
  height: 135px;
}
#aia-activity-list .aia-alist-main .aia-alist-item .aia-alist-img {
  height: 170px;
  overflow: hidden;
  text-align: center;
  transition: all .2s linear;
}
#aia-activity-list .aia-alist-main .aia-alist-item .aia-alist-img img {
  width: 100%;
}
#aia-activity-list .aia-alist-main .aia-alist-item .aia-alist-desc {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: 7;
  height: 123px;
  background-color: #fff;
  padding: 10px 15px;
}
#aia-activity-list .aia-alist-main .aia-alist-item .aia-alist-desc .aia-alist-desc-title {
  height: 60px;
}
#aia-activity-list .aia-alist-main .aia-alist-item .aia-alist-desc h3 {
  font-weight: normal;
  text-align: center;
  font-size: 13px;
  margin: 0;
  line-height: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#aia-activity-list .aia-alist-main .aia-alist-item .aia-alist-desc .aia-alist-desc-tool {
  position: relative;
}
#aia-activity-list .aia-alist-main .aia-alist-item .aia-alist-desc .aia-alist-desc-tool ul {
  font-size: 12px;
  text-align: right;
}
#aia-activity-list .aia-alist-main .aia-alist-item .aia-alist-desc .aia-alist-desc-tool ul li {
  display: inline-block;
  font-size: 12px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #ccd5db;
  border-radius: 3px;
  text-align: left;
  cursor: pointer;
  transition: all .1s linear;
}
#aia-activity-list .aia-alist-main .aia-alist-item .aia-alist-desc .aia-alist-desc-tool ul li:hover {
  width: 70px;
  color: #fff;
}
#aia-activity-list .aia-alist-main .aia-alist-item .aia-alist-desc .aia-alist-desc-tool ul li i {
  width: 30px;
  text-align: center;
}
#aia-activity-list .aia-alist-main .aia-alist-item .aia-alist-desc .aia-alist-desc-tool ul li.aia-template-desc-tool-add:hover {
  background-color: #f56c6c;
  border-color: #f56c6c;
}
#aia-activity-list .aia-alist-main .aia-alist-item .aia-alist-desc .aia-alist-desc-tool ul li.aia-template-desc-tool-edit:hover {
  background-color: #67c23a;
  border-color: #67c23a;
}
#aia-activity-list .aia-alist-main .aia-alist-item .aia-alist-desc .aia-alist-desc-tool ul li.aia-template-desc-tool-del:hover {
  background-color: #409eff;
  border-color: #409eff;
}
#aia-activity-list .aia-alist-main .aia-alist-item .aia-alist-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all .3s linear;
}
#aia-activity-list .aia-alist-main .aia-alist-item .aia-alist-tag {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 140px;
  height: 40px;
  text-align: center;
  z-index: 4;
  font-size: 12px;
}
#aia-activity-list .aia-alist-main .aia-alist-item .aia-alist-tag span {
  position: absolute;
  left: -42px;
  width: 140px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  top: 16px;
  padding: 0 20px;
  font-size: 12px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #a3afb7;
  box-sizing: border-box;
  font-weight: 100;
}
#aia-newactivity .aia-newa-main-body .aia-newa-main-right .aia-newa-configform .ques-reward .el-tabs__item {
  width: 80px;
  text-align: center;
  border-bottom: 1px solid #f5f7fa;
}
.el-dialog.aia-role-city .el-dialog__body {
  padding: 10px 20px;
}
.el-dialog.aia-role-city .aia-role-city-letter {
  padding-bottom: 10px;
  border-bottom: 1px solid #ebeef5;
}
.el-dialog.aia-role-city .aia-role-city-letter span {
  cursor: pointer;
  margin-right: 10px;
}
.el-dialog.aia-role-city .aia-role-city-letter span:hover {
  text-decoration: underline;
  color: #ff8b03;
}
.el-dialog.aia-role-city .aia-role-city-item {
  height: 450px;
  overflow-y: auto;
  border-bottom: 1px solid #ebeef5;
}
.el-dialog.aia-role-city .aia-role-city-item h3.aia-role-city-item-letter {
  display: block;
  font-size: 15px;
  margin: 6px 0;
}
.el-dialog.aia-role-city .aia-role-city-chk {
  height: 170px;
  padding: 15px 0 0 0;
}
.el-dialog.aia-role-city .aia-role-city-chk span {
  color: #ff8b03;
}
.el-dialog.aia-role-city .el-checkbox {
  width: 180px;
}
.el-dialog.aia-role-city .el-checkbox + .el-checkbox {
  margin: 0;
}
#pubfile {
  padding: 20px;
}
